module Example exposing (example)

example numbers =
    <spot>(Debug.log "List.map (\n -> n * 2) numbers" (List.map (\n -> n * 2) numbers))</spot>

caseExample numbers =
    let
        doubleNumbers =
            example numbers
    in
    <spot>case (Debug.log "doubleNumbers" doubleNumbers) of</spot>
        _ -> 1
